<div mat-dialog-container >
    <h1 mat-dialog-title class="title">ENTER YOUR DIMENSIONS</h1>
<div mat-dialog-content>This will help us suggest
    the best size for you!</div>
<mat-form-field>
    <mat-label>Enter chest size  in cms</mat-label>
    <input matInput [(ngModel)]="dimension" min="85" max="115" required >
</mat-form-field>
<mat-form-field>
    <mat-label>Enter tshirt length in cms</mat-label>
    <input matInput required >
   
</mat-form-field>
<p style="color: red;font-size: x-small;" *ngIf="isError">Please enter a chest size between 85 and 115</p>
<div mat-dialog-actions>
    <button mat-button (click)="submit()">Submit</button>
    <button mat-button mat-dialog-close>Close</button>
</div>
</div>