<div *ngIf="showContent">
  <div class="header" *ngIf="selectedType.name === 'Hats'">
    <h3>
      <b>Size : {{sizeWord}}</b>
    </h3>
  </div>

  <!-- Purple Hat-->
  <div class="content" *ngIf="product_id === 'c01' && size === 1">
    <iframe src="https://bbinary.8thwall.app/purple-hat-s" allow="camera; microphone" class="frame"></iframe>
  </div>

  <div class="content" *ngIf="product_id === 'c01' && size === 2">
    <iframe src="https://bbinary.8thwall.app/purple-hat-m" allow="camera; microphone" class="frame"></iframe>
  </div>

  <div class="content" *ngIf="product_id === 'c01' && size === 3">
    <iframe src="https://bbinary.8thwall.app/purple-hat-l" allow="camera; microphone" class="frame"></iframe>
  </div>

    <!-- Cowboy Hat-->
    <div class="content" *ngIf="product_id === 'c02' && size === 1">
      <iframe src="https://bbinary.8thwall.app/cowboy-hat-s" allow="camera; microphone" class="frame"></iframe>
    </div>
  
    <div class="content" *ngIf="product_id === 'c02' && size === 2">
      <iframe src="https://bbinary.8thwall.app/cowboy-hat-m" allow="camera; microphone" class="frame"></iframe>
    </div>
  
    <div class="content" *ngIf="product_id === 'c02' && size === 3">
      <iframe src="https://bbinary.8thwall.app/cowboy-hat-l" allow="camera; microphone" class="frame"></iframe>
    </div>

      <!-- T shirt-->
  <div class="content" *ngIf="product_id === 't01' && size === 1">
    <iframe src="https://bbinary.8thwall.app/tee-shirt-01-s" allow="camera; microphone" class="frame"></iframe>
  </div>

  <div class="content" *ngIf="product_id === 't01' && size === 2">
    <iframe src="https://bbinary.8thwall.app/tee-shirt-01-m" allow="camera; microphone" class="frame"></iframe>
  </div>

  <div class="content" *ngIf="product_id === 't01' && size === 3">
    <iframe src="https://bbinary.8thwall.app/tee-shirt-01-l" allow="camera; microphone" class="frame"></iframe>
  </div>

  <!-- For Plants | Rear Camera Required -->

  <div class="plant-content" *ngIf="selectedType.name === 'Plants'">
    <app-header></app-header>
    <h1 class="plant-header">
      <b>You would require a rear camera for this!</b> <br />
      Please scan the QR code or go to the given link -
    </h1>
    <div class="sub-cont">
      <img *ngIf="product_id === 'p01'" src="../../../assets/img/cactus.png" class="qr" />
      <img *ngIf="product_id === 'p02'" src="../../../assets/img/greenplant.png" class="qr" />
      <img *ngIf="product_id === 'p03'" src="../../../assets/img/pottedplant.png" class="qr" />
      <img src="../../../assets/img/plant_mobile.svg" class="img" />
      <h3 class="link">{{ product.short_link }}</h3>
    </div>
    <app-footer></app-footer>
  </div>

  <!-- For Frames | Rear Camera Required -->

  <div class="plant-content" *ngIf="selectedType.name === 'Plants'">
    <app-header></app-header>
    <h1 class="plant-header">
      <b>You would require a rear camera for this!</b> <br />
      Please scan the QR code or go to the given link -
    </h1>
    <div class="sub-cont">
      <img *ngIf="product_id === 'f01'" src="../../../assets/img/frame1.png" class="qr" />
      <img *ngIf="product_id === 'f02'" src="../../../assets/img/frame2.png" class="qr" />
      <img src="../../../assets/img/plant_mobile.svg" class="img" />
      <h3 class="link">{{ product.short_link }}</h3>
    </div>
    <app-footer></app-footer>
  </div>
</div>

<div *ngIf="!showContent">
  <app-header></app-header>
  <div class="default_msg">
    <h1 class="default_msg">Sorry, no products found!</h1>
    <button mat-raised-button class="mi-button" color="primary" routerLink="/home">
      Click here to search new products</button><br />
    <img class="sorry-img" src="../../../assets/img/sorry.svg" />
  </div>
  <app-footer></app-footer>
</div>